/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/

/*================================ FLOATING ===================================*/

.fleft                                           {float: left;}
.fright                                          {float: right;}
.fnone, .vcenter                                 {float: none;}
.clear                                           {clear: both;}

/*================================ POSITION ===================================*/

.relative                                        {position: relative;}
.absolute                                        {position: absolute;}
.fixed                                           {position: fixed;}

/*================================= DISPLAY ===================================*/

.hide, .show-md, .show-sm, .show-xs              {display: none;}
.block                                           {display: block;}
.inline                                          {display: inline;}
.inline-block, .vcenter, .btn                    {display: inline-block;}

/*================================= SPACERS ===================================*/

.spacer-05                                       {margin: 0.5em 0;}
.spacer-10                                       {margin: 1.0em 0;}
.spacer-15                                       {margin: 1.5em 0;}
.spacer-20                                       {margin: 2.0em 0;}
.spacer-25                                       {margin: 2.5em 0;}
.spacer-30                                       {margin: 3.0em 0;}

.spacer-top-05                                   {margin-top: 0.5em;}
.spacer-top-10                                   {margin-top: 1.0em;}
.spacer-top-15                                   {margin-top: 1.5em;}
.spacer-top-20                                   {margin-top: 2.0em;}
.spacer-top-25                                   {margin-top: 2.5em;}
.spacer-top-30                                   {margin-top: 3.0em;}

.spacer-bottom-05                                {margin-bottom: 0.5em;}
.spacer-bottom-10                                {margin-bottom: 1.0em;}
.spacer-bottom-15                                {margin-bottom: 1.5em;}
.spacer-bottom-20                                {margin-bottom: 2.0em;}
.spacer-bottom-25                                {margin-bottom: 2.5em;}
.spacer-bottom-30                                {margin-bottom: 3.0em;}

/*==================================== PADS ===================================*/

.pad-05                                          {padding: 0.5em;}
.pad-10                                          {padding: 1.0em;}
.pad-15                                          {padding: 1.5em;}
.pad-20                                          {padding: 2.0em;}
.pad-25                                          {padding: 2.5em;}
.pad-30                                          {padding: 3.0em;}

.pad-top-05                                      {padding-top: 0.5em;}
.pad-top-10                                      {padding-top: 1.0em;}
.pad-top-15                                      {padding-top: 1.5em;}
.pad-top-20                                      {padding-top: 2.0em;}
.pad-top-25                                      {padding-top: 2.5em;}
.pad-top-30                                      {padding-top: 3.0em;}

.pad-bottom-05                                   {padding-bottom: 0.5em;}
.pad-bottom-10                                   {padding-bottom: 1.0em;}
.pad-bottom-15                                   {padding-bottom: 1.5em;}
.pad-bottom-20                                   {padding-bottom: 2.0em;}
.pad-bottom-25                                   {padding-bottom: 2.5em;}
.pad-bottom-30                                   {padding-bottom: 3.0em;}

/* ====================================================================================================================
 * FORM ELEMENTS/BUTTONS
 * ====================================================================================================================*/

a, input, select, textarea, button, .btn, label  {cursor: pointer;}

select::-ms-expand                               {display: none;}
textarea                                         {resize: none; overflow-y: auto;}

::-webkit-input-placeholder                      {color: #888;}
:-ms-input-placeholder                           {color: #888;}

input, select, textarea, button                  {-webkit-appearance: none; -moz-appearance: none; appearance: none;}

/* ====================================================================================================================
 * SIZING/MISC
 * ====================================================================================================================*/

/*=================================== SIZING ==================================*/

.auto-size, .auto-width, .btn                   {width: auto;}
.auto-size, .auto-height                        {height: auto;}

.full-width, input, select, textarea            {width: 100%;}
.full-height                                    {height: 100%;}

/*==================================== MISC ===================================*/

.centered, .wrapper                             {margin: 0 auto;}
img                                             {max-width: 100%;}
hr                                              {border: 0; height: 1px;}
.hide-overflow, .remove-scroll                  {overflow: hidden;}

.vcenter, input, select, textarea, .btn, .label {vertical-align: middle;}

.circle                                         {border-radius: 50%;}

.smooth-hover, .btn, input, select, textarea, .main-nav a {
    -webkit-transition: all .3s; 
    -moz-transition: all .3s; 
    -o-transition: all .3s; 
    transition: all .3s;
}

/* ====================================================================================================================
 * MEDIA QUERIES
 * ====================================================================================================================*/

/*========================= MEDIUM/MD RESOLUTIONS ============================*/

@media only screen and (max-width: 992px) {
    
	.show-md                                        {display: block;}
    .hide-md                                        {display: none;}
	
}

/*========================= SMALL/SM RESOLUTIONS =============================*/

@media only screen and (max-width: 768px) {
    
	.show-sm                                        {display: block;}
    .hide-sm                                        {display: none;}
	
}

/*====================== EXTRA SMALL/XS RESOLUTIONS ==========================*/

@media only screen and (max-width: 480px) {
    
	.show-xs                                        {display: block;}
    .hide-xs                                        {display: none;}
	
}