/* ====================================================================================================================
 * LAYOUT
 * CSS exclusivo para as partes do layout
 * ====================================================================================================================*/

/* ====================================================================================================================
 * BACKGROUND-COLOR
 * ====================================================================================================================*/

/*============================== MAIN COLORS ==================================*/

.bg-white                                        {background-color: #fff;}
.bg-light-grey, hr                               {background-color: #e3e3e3;}
.bg-grey, .btn                                   {background-color: #afafaf;}

.bg-dark, .main-nav li ul                        {background-color: #222;}

.bg-darker, .nav-highlight                       {background-color: #191919;}

button, .bg-none                                 {background-color: transparent;}

/*================================ ALERTS =====================================*/

.bg-sucess, .btn-sucess                          {background-color: #5cb85c;}
.btn-sucess:hover                                {background-color: #449d44;}

.bg-warning, .btn-warning                        {background-color: #f0ad4e;}
.btn-warning:hover                               {background-color: #ec971f;}

.bg-danger, .btn-danger                          {background-color: #d9534f;}
.btn-danger:hover                                {background-color: #c9302c;}

.bg-info, .btn-info                              {background-color: #49a0d7;}
.btn-info:hover                                  {background-color: #3586b9;}

.bg-mute, .btn-mute                              {background-color: #b9b9b9;}
.btn-mute:hover                                  {background-color: #9d9d9d;}

/* ====================================================================================================================
 * HEADER
 * ====================================================================================================================*/

.logo {
    width: 280px;
	height: 67px;
    background: url(../img/logotipo.png);
    background-image: url(../img/logotipo.svg);
    background-size: 100% 100%;
}

/* ====================================================================================================================
 * NAVIGATION
 * ====================================================================================================================*/

.main-nav a                                      {padding: 0.5em 1em;}

.main-nav li ul                                  {position: absolute; z-index: 9999; visibility: hidden; opacity: 0;}
.main-nav li:hover > ul                          {visibility: visible; opacity: 1;}

.main-nav li ul li                               {position: relative;}
.main-nav li ul ul                               {top: 0; left: 100%;}

.main-nav li                                     {display: inline-block;}
.main-nav a, .main-nav ul ul > li                {display: block;}

.main-nav ul, .main-nav li ul                    {white-space: nowrap;}

/* ====================================================================================================================
 * FORM ELEMENTS/BUTTONS
 * ====================================================================================================================*/

input, select, textarea, .btn, .label, textarea  {border-radius: 0.2em; padding: 0.55em 1em; vertical-align: top;}
a, input, select, textarea, button, .btn, .label {cursor: pointer;}
.btn, input.btn, .btn:focus                      {box-shadow: none; white-space: normal;}

/*================================ INPUT =====================================*/

input, select, textarea {
	width: 100%; 
	-webkit-box-shadow: inset 0 0 0 1px #cecece;
	   -moz-box-shadow: inset 0 0 0 1px #cecece;
	        box-shadow: inset 0 0 0 1px #cecece;
}

select {
	background: url('../img/select-arrow.svg') no-repeat right #fff;
	background-size: 1.3em;
	padding-right: 2em;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

select::-ms-expand                               {display: none;}

textarea                                         {resize: none; overflow-y: auto;}

::-webkit-input-placeholder                      {color: #888;}
:-ms-input-placeholder                           {color: #888;}

button:focus, input:focus, select:focus, textarea:focus {
	outline: none; 
	-webkit-box-shadow: inset 0 0 0 1px #909090;
	   -moz-box-shadow: inset 0 0 0 1px #909090;
	        box-shadow: inset 0 0 0 1px #909090;
}

/* ====================================================================================================================
 * LAYOUT MEDIA QUERIES
 * ====================================================================================================================*/

@media only screen and (min-width: 993px) {
	
    .main-nav > ul > li:hover > a {background-color: transparent; opacity: 0.5;}
    .main-nav li:hover > a {background-color: #191919;}
	.main-nav li ul {
        -webkit-transition: all .3s; 
        -moz-transition: all .3s; 
        -o-transition: all .3s; 
        transition: all .3s;
    }
	
}

/*========================= MEDIUM/MD RESOLUTIONS ============================*/

@media only screen and (max-width: 992px) {

	.logo                                        {width: 173px; height: 41px;}
	.nav-btn i                                   {line-height: 41px;}
	
	.screen-cover, .main-nav {
		min-height: 100%; 
		height: 100%;
		z-index: 9999;
	}
	
	.screen-cover {
		background-color: #000;
		background-color: rgba(29, 29, 29, 0.51);
	}
	
	.main-nav {
        position: fixed;
        
		top: 0; 
		left: -18em; /* negative width value */
		
		width: 18em;
		
		overflow-y: auto;
		overflow-x: hidden;
		
		color: #fff;
		text-transform: uppercase; 
		
		background-color: #1d1d1d;
		
		-webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
	}
	
	.main-nav ul, .main-nav li ul                {white-space: normal;}
	
	.main-nav li ul                              {position: relative; visibility: visible; display: none; opacity: 1;}
	.main-nav li ul ul, .main-nav.open           {left: 0;}
	
	.main-nav li, .main-nav a                    {display: block;}
	.main-nav li:hover > ul                      {display: none;}
    
	.main-nav a                                  {padding: 1em;}

	.menu-item-has-children > a:after            {float: right; font-family: 'FontAwesome'; content: "\f107";}
	.menu-item-has-children .nav-highlight:after {content: "\f106";}
	
}

/*========================= SMALL/SM RESOLUTIONS =============================*/

@media only screen and (max-width: 768px) {

    body                                         {font-size: 0.8em;}
    
}

/*====================== EXTRA SMALL/XS RESOLUTIONS ==========================*/

@media only screen and (max-width: 480px) {

    .main-nav                                    {left: -75%; width: 75%;}

}