/* ====================================================================================================================
 * BACKGROUND-COLOR
 * ====================================================================================================================*/

/*============================== MAIN COLORS ==================================*/

.bg-primary, .nav-highlight                      {background-color: #0d6788;}

.bg-white                                        {background-color: #fff;}
.bg-lightgrey, hr                                {background-color: #e3e3e3;}
.bg-grey, .btn                                   {background-color: #afafaf;}

.bg-dark, .main-nav li ul                        {background-color: #222;}

.bg-darker                                       {background-color: #121212;}

button, .bg-none                                 {background-color: transparent;}

/*================================ ALERTS =====================================*/

.bg-sucess, .btn-sucess                          {background-color: #5cb85c;}
.btn-sucess:hover                                {background-color: #449d44;}

.bg-warning, .btn-warning                        {background-color: #f0ad4e;}
.btn-warning:hover                               {background-color: #ec971f;}

.bg-danger, .btn-danger                          {background-color: #d9534f;}
.btn-danger:hover                                {background-color: #c9302c;}

.bg-info, .btn-info                              {background-color: #49a0d7;}
.btn-info:hover                                  {background-color: #3586b9;}

.bg-mute, .btn-mute                              {background-color: #b9b9b9;}
.btn-mute:hover                                  {background-color: #9d9d9d;}

/* ====================================================================================================================
 * FORM ELEMENTS/BUTTONS
 * ====================================================================================================================*/

input, select, textarea, .btn, .label            {border-radius: 0.2em; padding: 0.7em 1em;}
.btn, input.btn, .btn:focus                      {box-shadow: none; white-space: normal;}

input, select, textarea {
	-webkit-box-shadow: inset 0 0 0 1px #cecece;
	   -moz-box-shadow: inset 0 0 0 1px #cecece;
	        box-shadow: inset 0 0 0 1px #cecece;
}

button:focus, input:focus, select:focus, textarea:focus {
	outline: none; 
	-webkit-box-shadow: inset 0 0 0 1px #909090;
	   -moz-box-shadow: inset 0 0 0 1px #909090;
	        box-shadow: inset 0 0 0 1px #909090;
}

select {
	background: url('../img/select-arrow.svg') no-repeat right #fff;
	background-size: 1.3em;
	padding-right: 2em;
}

/* ====================================================================================================================
 * LAYOUT MEDIA QUERIES
 * ====================================================================================================================*/

/*========================= LARGE/LG RESOLUTIONS ============================*/

@media only screen and (min-width: 993px) {
	
	
	
}

/*========================= MEDIUM/MD RESOLUTIONS ============================*/

@media only screen and (max-width: 992px) {
	
	
	
}

/*========================= SMALL/SM RESOLUTIONS =============================*/

@media only screen and (max-width: 768px) {

    body                                         {font-size: 0.8em;}
    
}

/*====================== EXTRA SMALL/XS RESOLUTIONS ==========================*/

@media only screen and (max-width: 480px) {

    .main-nav                                    {left: -75%; width: 75%;}

}