/* ====================================================================================================================
 * NAVIGATION
 * ====================================================================================================================*/

.main-nav li ul                                  {position: absolute; display: none;}

.main-nav li ul li                               {position: relative;}
.main-nav li ul ul                               {top: 0; left: 100%;}

.main-nav a                                      {display: block; padding: 0.7em 1em;}

.main-nav ul                                     {white-space: nowrap;}

/*========================= LARGE/LG RESOLUTIONS ============================*/

@media only screen and (min-width: 993px) {
	
    .main-nav > ul > li                          {display: inline-block;}
    .main-nav li:hover > ul                      {display: block;}
    .main-nav li:hover > a                       {background-color: #0d6788;}

}

/*========================= MEDIUM/MD RESOLUTIONS ============================*/

@media only screen and (max-width: 992px) {
	
	.screen-cover, .main-nav {
		min-height: 100%; 
		height: 100%;
	}
	
	.screen-cover {
		background-color: rgb(29, 29, 29);
		background-color: rgba(29, 29, 29, 0.7);
	}
	
	.main-nav {
        position: fixed;
        
		top: 0; 
		left: -18em; /* negative width value */
		
		width: 18em;
		
		overflow-y: auto;
		overflow-x: hidden;
        
		text-transform: uppercase; 
		
		background-color: #1d1d1d;
		
		-webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
	}
	
	.main-nav ul                                 {white-space: normal;}
	
	.main-nav li ul                              {position: relative;}
	.main-nav li ul ul, .main-nav-is-active      {left: 0 !important}
	.main-nav a                                  {padding: 1.5em;}

	.menu-item-has-children > a:after            {float: right; font-family: 'FontAwesome'; content: "\f107";}
	.menu-item-has-children .menu-item-is-active:after {content: "\f106";}
	
}

/*====================== EXTRA SMALL/XS RESOLUTIONS ==========================*/

@media only screen and (max-width: 480px) {

    .main-nav                                    {left: -75%; width: 75%;}

}