/* ====================================================================================================================
 * TYPOGRAPHY
 * ====================================================================================================================*/

/*============================ IMPORT/EMBED FONTS =============================*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

/*=========================== DEFINE FONT & WEIGHT ============================*/

body, .btn, input, select, textarea                {font-family: 'Open Sans', sans-serif;}
h1, h2, h3, h4, h5, h6, strong, .text-strong, .btn {font-weight: 600;}

/*============================= DEFINE FONT-SIZE ==============================*/

h1                                              {font-size: 2.5em;}
h2                                              {font-size: 2.2em;}
h3                                              {font-size: 1.9em;}
h4                                              {font-size: 1.6em;}
h5, .btn.btn-large                              {font-size: 1.3em;}
h6, body, .btn, input, select, textarea         {font-size: 1em;}
small, .btn-small, .text-small, .input-small    {font-size: .8em;}

/*============================ DEFINE FONT-COLOR ===============================*/

body, .btn                                      {color: #222;}
.text-white, .main-nav li:hover a               {color: #fff;}
a                                               {color: inherit;}

/*================================= ALERTS ====================================*/

.text-sucess                                    {background-color: #5cb85c;}
.text-warning                                   {background-color: #f0ad4e;}
.text-danger                                    {background-color: #d9534f;}
.text-info                                      {background-color: #49a0d7;}

/*=========================== ALINHAMENTOS/EFEITOS =============================*/

.align-center                                   {text-align: center;}
.align-left                                     {text-align: left;}
.align-right                                    {text-align: right;}

a, nav a:hover, .btn:hover, .no-underline:hover {text-decoration: none;}
a:hover                                         {text-decoration: underline;}

.text-uppercase 							    {text-transform: uppercase;}