/*
=======================================================
Form Elements
=======================================================
1. Base Styles
2. Custom Checkbox/Radio
3. Custom Select
4. Disabled Elements
=======================================================
*/

/*
-------------------------------------------------------
1. Base Styles
-------------------------------------------------------
*/

.input,
.select,
.input-icon {
  appearance: none;
  background-color: color(light);
  border: solid 1px color(gray);
  border-radius: $formElements-borderRadius;
  padding: 0.65em;
  transition: border 0.3s, box-shadow 0.3s;
  @include vcenter;
}

.input:not(textarea),
.select:not([multiple]) {
  height: 2.75em;
}

.input:focus,
.select:focus,
:focus + .input-icon {
  border-color: color(grayDark);
  box-shadow: 0 0 1px color(grayDark);
  outline: none;
}

@each $prefix in ':-ms', '::-webkit' {
  #{$prefix}-input-placeholder {
    color: color(grayDark);
  }
}

/*
-------------------------------------------------------
2. Custom Checkbox/Radio
-------------------------------------------------------
*/

.inputRadio,
.inputCheckbox {
  input {
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }

  &.is-disabled {
    cursor: default;
  }
}

.input-icon {
  width: 1.5em;
  height: 1.5em;
  margin-top: -0.1em;
  background-position: center;
  background-repeat: no-repeat;

  .inputRadio & {
    border-radius: 50%;
  }

  .inputCheckbox :checked + & {
    background-image: svg('icon-check.svg');
    background-size: 60%;
  }

  .inputRadio :checked + & {
    z-index: -1;
    position: relative;

    &::after {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      position: absolute;
      border-radius: 50%;
      border: 0.45em solid color(light);
      background-color: color(dark);
      @include vcenter;
    }
  }
}

/*
-------------------------------------------------------
4. Custom Select
-------------------------------------------------------
*/

.select:not([multiple]) {
  background-image: svg('icon-arrow-alt.svg');
  background-position: right 0.6em center;
  background-repeat: no-repeat;
  background-size: 0.85em 1em;
  padding-right: 2.4em;
}

/*
-------------------------------------------------------
3. Disabled Elements
-------------------------------------------------------
*/

:disabled:not(.btn),
.input[readonly] {
  color: color(grayDark);
  background-color: color(grayLight);
}

:disabled {
  pointer-events: none;

  + .input-icon {
    background-color: color(grayLight);

    + span {
      color: color(grayDark);
    }
  }
}
