/*
=======================================================
Navbar
=======================================================
1. Base Styles
2. Main Navigation
3. Mobile Navigation
4. Mobile Navigation Button
=======================================================
*/

/*
-------------------------------------------------------
1. Base Styles
-------------------------------------------------------
*/

.navBar {
  text-align: right;

  .sub-menu {
    display: none;
    text-align: left;
  }

  a,
  .is-active > .sub-menu {
    display: block;
  }

  a:hover {
    text-decoration: none;
  }

  .menu-item-has-children > a {
    padding-right: 1.5em;
    position: relative;

    &::after {
      top: 0;
      right: 0;
      bottom: 0;
      content: '';
      padding: 0.35em;
      position: absolute;
      background: svg('icon-arrow.svg') no-repeat right;
      background-size: 100% 100%;
    }
  }
}

/*
-------------------------------------------------------
2. Main Navigation
-------------------------------------------------------
*/

@include media-breakpoint(md) {
  .navBar {
    .menu-item {
      position: relative;

      &.is-active > a {
        color: color(gray-dark);
      }

      &:hover {
        color: color(gray-dark);
      }
    }

    .sub-menu {
      color: color(dark);
      position: absolute;
      border-radius: 0.4em;
      white-space: nowrap;
      background-color: color(light);
      box-shadow: 0 0 2px color(gray-dark);

      a {
        font-size: 90%;
        padding: 0.7em;
      }

      .menu-item {
        &:not(:last-child)::after {
          content: '';
          display: block;
          margin: 0 0.65em;
          border-bottom: 1px solid color(gray);
        }

        &-has-children > a {
          padding-right: 2em;

          &::after {
            right: 0.7em;
            transform: rotate(-90deg);
            background-image: svg('icon-arrow-alt.svg');
          }
        }
      }

      .sub-menu {
        top: 0;
        left: 100%;
      }
    }

    .menu > .menu-item {
      display: inline-block;
      margin-left: 1.5em;

      > .sub-menu {
        margin-top: 0.5em;
      }
    }
  }
}

/*
-------------------------------------------------------
3. Mobile Navigation
-------------------------------------------------------
*/

@include media-breakpoint(md, max) {
  .nav-hide-overflow {
    overflow: hidden;
  }

  .is-active > a {
    background-color: color(main);
    border-bottom: 1px solid color(main-light);
    color: color(light);

    &::after {
      transform: rotate(180deg);
    }
  }

  .navBar {
    z-index: 1;
    position: relative;

    .menu {
      top: 0;
      left: 0;
      bottom: 0;
      width: 20em;
      position: fixed;
      text-align: left;
      overflow-y: auto;
      overflow-x: hidden;
      visibility: hidden;
      color: color(dark);
      transform: translateX(-100%);
      transform-style: preserve-3d;
      background-color: color(light);
      will-change: transform;

      @include media-breakpoint(xs, max) {
        width: 75%;
      }
    }

    &.is-active .menu {
      transform: none;
      visibility: visible;
    }

    .menu-item {
      a {
        padding: 1.7em;
      }

      &:not(:last-child) {
        border-bottom: 1px solid color(gray-light);
      }

      &-has-children {
        > a::after {
          right: 1.5em;
          padding: 0.5em;
        }

        &:not(.is-active) > a::after {
          background-image: svg('icon-arrow-alt.svg');
        }
      }
    }
  }

  .screen-cover {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: fixed;
    animation: fadeIn 0.35s;
    background-color: rgba(color(dark), 0.7);

    &-fade-out {
      animation: fadeOut 0.35s;
    }
  }

  .navBar.is-animating {
    &:not(.is-active) .menu {
      transition: visibility 0s ease-in-out 0.3s, transform 0.3s ease-in-out;
    }

    .menu {
      transition: visibility 0s ease-in-out, transform 0.3s ease-in-out;
    }
  }
}

/*
-------------------------------------------------------
4. Mobile Navigation Button
-------------------------------------------------------
*/

@include media-breakpoint(md, max) {
  .navBar-btn {
    width: 1.5em;
    height: 1.5em;
    background: svg('icon-menu.svg') no-repeat center;

    .is-active & {
      background-image: svg('icon-close.svg');
    }
  }
}
