/*
=======================================================
Grid
=======================================================
Row
Columns
=======================================================
*/

/*
-------------------------------------------------------
Row
-------------------------------------------------------
*/

$teste: calc($grid-gutter / 2);

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$teste;
  margin-right: -$teste;

  & > [class*='col'] {
    padding-left: $teste;
    padding-right: $teste;
  }
}

/*
-------------------------------------------------------
Columns
-------------------------------------------------------
*/

.col {
  flex: 1 1 0;
}

@include grid('col');

@each $breakpoint in $breakpoints {
  $breakpoint: nth($breakpoint, 1);
  @if $breakpoint != xs {
    @include media-breakpoint($breakpoint) {
      @include grid('col-' + $breakpoint);
    }
  }
}
