/* =====================================================================
 * BUTTONS
 * ===================================================================*/

.btn {
  background-color: #afafaf;
  border: solid 2px #afafaf;
  border-radius: 4px;
  display: inline-block;
  height: 2.7em;
  width: auto;
  line-height: calc(2.7em - 3px);
  padding: 0 1em;
  vertical-align: middle;
  white-space: normal;
}

/*============================== SUCESS ==============================*/

.btn-sucess {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn-sucess:hover {
  background-color: #449d44;
  border-color: #449d44;
}

/*=============================== INFO ===============================*/

.btn-info {
  background-color: #49a0d7;
  border-color: #49a0d7;
}

.btn-info:hover {
  background-color: #3586b9;
  border-color: #3586b9;
}

/*============================= WARNING ==============================*/

.btn-warning {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.btn-warning:hover {
  background-color: #ec971f;
  border-color: #ec971f;
}

/*============================== DANGER ==============================*/

.btn-danger {
  background-color: #d9534f;
  border-color: #d9534f;
}

.btn-danger:hover {
  background-color: #c9302c;
  border-color: #c9302c;
}

/*========================== OUTLINE BUTTONS =========================*/

button,
.btn-outline {
  background-color: transparent;
}
