/* =====================================================================
 * FORM ELEMENTS
 * ===================================================================*/

/*============================ MAIN STYLES ===========================*/

select,
textarea,
input {
  border: solid 1px #cecece;
  border-radius: 4px;
  vertical-align: middle;
  width: 100%;
}

select,
input {
  padding: 0 0.6em;
  height: 2.7em;
}

textarea {
  padding: 0.6em;
  overflow-y: auto;
  resize: none;
}

select:focus,
textarea:focus,
input:not(.btn):focus {
  border-color: #909090;
}

::-webkit-input-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/*======================== CUSTOM SELECT ARROW =======================*/

select::-ms-expand {
  display: none;
}

select {
  background: url('../../svg/icon-arrow-alt.svg') #fff no-repeat right;
  background-size: 1.2em;
  padding-right: 1.8em;
}

/*======================= CUSTOM CHECKBOX/RADIO ======================*/

input[type=radio],
input[type=checkbox] {
  display: none;
}

.label-checkbox:before,
.label-radio:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 1px #cecece;
  -moz-box-shadow: 0 0 0 1px #cecece;
  box-shadow: 0 0 0 1px #cecece;
}

.label-checkbox:before {
  padding: 0.4em;
  border: 0.2em solid #fff;
  border-radius: 0.2em;
}

:checked + .label-checkbox:before {
  background: url('../../svg/icon-check.svg') #fff no-repeat center;
  background-size: 100%;
}

.label-radio:before {
  padding: 0.19em;
  border: 0.4em solid #fff;
}

:checked + .label-radio:before {
  background-color: #222;
}
