/* =====================================================================
 * FORM ELEMENTS
 * ===================================================================*/

/*============================ MAIN STYLES ===========================*/

select,
textarea,
input:not(.btn) {
  border: solid 1px #cecece;
  border-radius: 4px;
  vertical-align: middle;
  width: 100%;
}

select,
input:not(.btn) {
  padding: 0 0.6em;
  height: 2.7em;
}

textarea {
  padding: 0.6em;
  overflow-y: auto;
  resize: none;
}

select:focus,
textarea:focus,
input:not(.btn):focus {
  border-color: #909090;
}

::-webkit-input-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/*======================== CUSTOM SELECT ARROW =======================*/

select::-ms-expand {
  display: none;
}

select {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOTIuMSA1My41Ij48cGF0aCBmaWxsPSIjMDEwMjAyIiBkPSJNOTYuOCAxLjZDODkuNSA3IDgyLjggMTMuMyA3NS45IDE5Yy03LjIgNi0xNC4zIDEyLTIxLjUgMTcuOS0xNC0xMS44LTI3LjctMjQuMS00Mi4yLTM1LjJDNy43LTEuNi43LS4xIDAgNi4xYy0uNCA0LjEgMi41IDYuMiA1LjIgOC41IDkgNy41IDE4LjEgMTUuMSAyNy4xIDIyLjYgNC42IDMuOSA5LjMgNy43IDEzLjkgMTEuNiAzLjggMy4xIDcuMSA2LjEgMTIuMiAzLjEuMi0uMS40LS4zLjYtLjQgMTUtMTIuNCAyOS45LTI0LjggNDQuOC0zNy4yIDIuNS0yLjEgNS0zLjkgNC45LTcuNi0uMy02LjQtNy4zLTguNS0xMS45LTUuMXoiLz48L3N2Zz4=) #fff no-repeat right;
  background-size: 1.2em;
  padding-right: 1.8em;
}

/*======================= CUSTOM CHECKBOX/RADIO ======================*/

input[type=radio],
input[type=checkbox] {
  display: none;
}

.label-checkbox:before,
.label-radio:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 1px #cecece;
  -moz-box-shadow: 0 0 0 1px #cecece;
  box-shadow: 0 0 0 1px #cecece;
}

.label-checkbox:before {
  padding: 0.4em;
  border: 0.2em solid #fff;
  border-radius: 0.2em;
}

:checked + .label-checkbox:before {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxODAgMTgwIj48cGF0aCBmaWxsPSIjMDEwMjAyIiBkPSJNNTYuMSAxNDkuN2MyLjQgMi40IDcuMSA0LjggMTAuNyA0LjhzNy4xLTEuMiAxMC43LTQuOGw5NS4yLTk1LjJjNi02IDYtMTUuNSAwLTIxLjQtNi02LTE1LjUtNi0yMS40IDBsLTg0LjUgODQuNS0zNi45LTM2LjljLTYtNi0xNS41LTYtMjEuNCAwcy02IDE1LjUgMCAyMS40bDQ3LjYgNDcuNnoiLz48L3N2Zz4=) #fff no-repeat center;
  background-size: 100%;
}

.label-radio:before {
  padding: 0.19em;
  border: 0.4em solid #fff;
}

:checked + .label-radio:before {
  background-color: #222;
}
