/* =====================================================================
 * FORM ELEMENTS/BUTTONS
 * ===================================================================*/

/*============================ MAIN STYLES ===========================*/

.btn,
input,
select,
textarea,
.label,
.label-checkbox:before {
    padding: 0.7em 1em;
    border-radius: 0.2em;
}

.btn,
.btn:focus,
input.btn {
    box-shadow: none;
    white-space: normal;
}

.label {
    padding: 0.4em;
}

input,
select,
textarea {
    -webkit-box-shadow: inset 0 0 0 1px #cecece;
    -moz-box-shadow: inset 0 0 0 1px #cecece;
    box-shadow: inset 0 0 0 1px #cecece;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    outline: none;
    -webkit-box-shadow: inset 0 0 0 1px #909090;
    -moz-box-shadow: inset 0 0 0 1px #909090;
    box-shadow: inset 0 0 0 1px #909090;
}

/*======================== CUSTOM SELECT ARROW =======================*/

select {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOTIuMSA1My41Ij48cGF0aCBmaWxsPSIjMDEwMjAyIiBkPSJNOTYuOCAxLjZDODkuNSA3IDgyLjggMTMuMyA3NS45IDE5Yy03LjIgNi0xNC4zIDEyLTIxLjUgMTcuOS0xNC0xMS44LTI3LjctMjQuMS00Mi4yLTM1LjJDNy43LTEuNi43LS4xIDAgNi4xYy0uNCA0LjEgMi41IDYuMiA1LjIgOC41IDkgNy41IDE4LjEgMTUuMSAyNy4xIDIyLjYgNC42IDMuOSA5LjMgNy43IDEzLjkgMTEuNiAzLjggMy4xIDcuMSA2LjEgMTIuMiAzLjEuMi0uMS40LS4zLjYtLjQgMTUtMTIuNCAyOS45LTI0LjggNDQuOC0zNy4yIDIuNS0yLjEgNS0zLjkgNC45LTcuNi0uMy02LjQtNy4zLTguNS0xMS45LTUuMXoiLz48L3N2Zz4=) #fff no-repeat right;
    padding-right: 1.8em;
    background-size: 1.2em;
}

/*======================= CUSTOM CHECKBOX/RADIO ======================*/

.label-checkbox:before,
.label-radio:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 1px #cecece;
    -moz-box-shadow: 0 0 0 1px #cecece;
    box-shadow: 0 0 0 1px #cecece;
}

.label-checkbox:before {
    padding: 0.4em;
    border: 0.2em solid #fff;
}

:checked+.label-checkbox:before {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxODAgMTgwIj48cGF0aCBmaWxsPSIjMDEwMjAyIiBkPSJNNTYuMSAxNDkuN2MyLjQgMi40IDcuMSA0LjggMTAuNyA0LjhzNy4xLTEuMiAxMC43LTQuOGw5NS4yLTk1LjJjNi02IDYtMTUuNSAwLTIxLjQtNi02LTE1LjUtNi0yMS40IDBsLTg0LjUgODQuNS0zNi45LTM2LjljLTYtNi0xNS41LTYtMjEuNCAwcy02IDE1LjUgMCAyMS40bDQ3LjYgNDcuNnoiLz48L3N2Zz4=) #fff no-repeat;
    background-size: cover;
}

.label-radio:before {
    padding: 0.19em;
    border: 0.4em solid #fff;
}

:checked+.label-radio:before {
    background-color: #222;
}
