/* =====================================================================
 * SPACEMAN GRID
 * ===================================================================*/

 /*============================ GRID WRAPPER ==========================*/

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
}

/*================================= ROW ==============================*/

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.row:not(.no-gutter),
.row:not(.no-gutter) > [class*='col-'] {
  padding: 0.7em;
}

.row-centered {
  justify-content: center;
}

/*======================= COLUMNS VERTICAL ALIGN ====================*/

.col-vcenter {
  -webkit-align-self: center;
  align-self: center;
}

.col-vbottom {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

.col-stretch {
  -webkit-align-self: stretch;
  align-self: stretch;
}

/*=========================== COLUMNS SIZING =========================*/

.row > .col-1 {width: 8.333333333333333%;}
.row > .col-2 {width: 16.66666666666667%;}
.row > .col-3 {width: 25%;}
.row > .col-4 {width: 33.3333333333333%;}
.row > .col-5 {width: 41.66666666666667%;}
.row > .col-6 {width: 50%;}
.row > .col-7 {width: 58.3333333333333%;}
.row > .col-8 {width: 66.66666666666666%;}
.row > .col-9 {width: 75%;}
.row > .col-10 {width: 83.33333333333333%;}
.row > .col-11 {width: 91.66666666666666%;}
.row > .col-12 {width: 100%;}

/* =====================================================================
 * GRID MEDIA QUERIES
 * ===================================================================*/

/*======================= MEDIUM/MD RESOLUTIONS ======================*/

@media only screen and (max-width: 992px) {

  .row > .md-1 {width: 8.333333333333333%;}
  .row > .md-2 {width: 16.66666666666667%;}
  .row > .md-3 {width: 25%;}
  .row > .md-4 {width: 33.3333333333333%;}
  .row > .md-5 {width: 41.66666666666667%;}
  .row > .md-6 {width: 50%;}
  .row > .md-7 {width: 58.3333333333333%;}
  .row > .md-8 {width: 66.66666666666666%;}
  .row > .md-9 {width: 75%;}
  .row > .md-10 {width: 83.33333333333333%;}
  .row > .md-11 {width: 91.66666666666666%;}
  .row > .md-12 {width: 100%;}

}

/*======================= SMALL/SM RESOLUTIONS =======================*/

@media only screen and (max-width: 768px) {

  .row > .sm-1 {width: 8.333333333333333%;}
  .row > .sm-2 {width: 16.66666666666667%;}
  .row > .sm-3 {width: 25%;}
  .row > .sm-4 {width: 33.3333333333333%;}
  .row > .sm-5 {width: 41.66666666666667%;}
  .row > .sm-6 {width: 50%;}
  .row > .sm-7 {width: 58.3333333333333%;}
  .row > .sm-8 {width: 66.66666666666666%;}
  .row > .sm-9 {width: 75%;}
  .row > .sm-10 {width: 83.33333333333333%;}
  .row > .sm-11 {width: 91.66666666666666%;}
  .row > .sm-12 {width: 100%;}

}

/*==================== EXTRA SMALL/XS RESOLUTIONS ====================*/

@media only screen and (max-width: 480px) {

  .row > .xs-1 {width: 8.333333333333333%;}
  .row > .xs-2 {width: 16.66666666666667%;}
  .row > .xs-3 {width: 25%;}
  .row > .xs-4 {width: 33.3333333333333%;}
  .row > .xs-5 {width: 41.66666666666667%;}
  .row > .xs-6 {width: 50%;}
  .row > .xs-7 {width: 58.3333333333333%;}
  .row > .xs-8 {width: 66.66666666666666%;}
  .row > .xs-9 {width: 75%;}
  .row > .xs-10 {width: 83.33333333333333%;}
  .row > .xs-11 {width: 91.66666666666666%;}
  .row > .xs-12 {width: 100%;}

}
