/* =====================================================================
 * BACKGROUND-COLOR
 * ===================================================================*/

/*============================ MAIN COLORS ===========================*/

.bg-main {
    background-color: #0d6788;
}

.bg-white {
    background-color: #fff;
}

.bg-lightgrey,
hr {
    background-color: #e3e3e3;
}

.bg-grey {
    background-color: #afafaf;
}

.bg-dark,
.main-nav li ul {
    background-color: #222;
}

.bg-darker {
    background-color: #121212;
}

.bg-none {
    background-color: transparent;
}

/* =====================================================================
 * LAYOUT MEDIA QUERIES
 * ===================================================================*/

/*======================== LARGE/LG RESOLUTIONS ======================*/

@media only screen and (min-width: 993px) {}

/*======================= MEDIUM/MD RESOLUTIONS ======================*/

@media only screen and (max-width: 992px) {}

/*======================= SMALL/SM RESOLUTIONS =======================*/

@media only screen and (max-width: 768px) {}

/*==================== EXTRA SMALL/XS RESOLUTIONS ====================*/

@media only screen and (max-width: 480px) {}
