/* ====================================================================================================================
 * TYPOGRAPHY
 * ====================================================================================================================*/

/*============================= FONT-FAMILY/HEIGHT ==============================*/

body, .btn, input, select, textarea             {font-family: 'Open Sans', sans-serif;}

/*================================ FONT-SIZE ===================================*/

body, .btn, input, select, textarea             {font-size: 1em;}
small, .btn-small, .text-small, .input-small    {font-size: 0.8em;}
h6, .title-6, blockquote                        {font-size: 1.1em;}
h5, .title-5, .btn-large, .text-large, 
.input-large                                    {font-size: 1.3em;}
h4, .title-4                                    {font-size: 1.6em;}
h3, .title-3                                    {font-size: 1.9em;}
h2, .title-2                                    {font-size: 2.2em;}
h1, .title-1                                    {font-size: 2.5em;}

/*================================ FONT-COLOR ==================================*/

body, .btn                                      {color: #222;}
.text-white                                     {color: #fff;}
.text-sucess                                    {color: #5cb85c;}
.text-warning                                   {color: #f0ad4e;}
.text-danger                                    {color: #d9534f;}
.text-info                                      {color: #49a0d7;}
.text-main                                      {color: #0d6788;}
a                                               {color: inherit;}

/*=========================== ALINHAMENTOS/EFEITOS =============================*/

blockquote, .text-block                         {line-height: 160%;}

.align-center, .btn                             {text-align: center;}
.align-left                                     {text-align: left;}
.align-right                                    {text-align: right;}

a, nav a:hover, .btn:hover, .no-underline:hover {text-decoration: none;}
a:hover                                         {text-decoration: underline;}

.text-uppercase 							    {text-transform: uppercase;}