/*
=======================================================
Helpers
=======================================================
1. Background
2. Container
3. Display
4. Flex
5. Floating
6. Hide/Show Elements
7. Misc
8. Padding/Margin
9. Position
10. Sizing
11. Text Utilities
12. Z-Index
13. Animations
=======================================================
*/

/*
-------------------------------------------------------
1. Background
-------------------------------------------------------
*/

@each $class, $color in $colors {
  .u-bg-#{$class} {
    background-color: $color;
  }
}

/*
-------------------------------------------------------
2. Container
-------------------------------------------------------
*/

.container {
  @include container(1280px);
}

/*
-------------------------------------------------------
3. Display
-------------------------------------------------------
*/

@each $property in 'none', 'block', 'inline', 'inline-block', 'inline-flex', 'flex' {
  .u-display-#{camelize($property)} {
    display: #{$property};
  }
}

@each $property in 'none', 'block', 'inline', 'inline-block', 'inline-flex', 'flex' {
  @each $breakpoint in $breakpoints {
    $breakpoint: nth($breakpoint, 1);
    @if $breakpoint != xs {
      @include media-breakpoint($breakpoint) {
        .u-#{$breakpoint}-display-#{camelize($property)} {
          display: #{$property};
        }
      }
    }
  }
}

/*
-------------------------------------------------------
4. Flex
-------------------------------------------------------
*/

@each $property in 'row', 'row-reverse', 'column', 'column-reverse' {
  .u-flexDirection-#{camelize($property)} {
    flex-direction: #{$property};
  }

  @each $breakpoint in $breakpoints {
    $breakpoint: nth($breakpoint, 1);
    @if $breakpoint != xs {
      @include media-breakpoint($breakpoint) {
        .u-#{$breakpoint}-flexDirection-#{camelize($property)} {
          flex-direction: #{$property};
        }
      }
    }
  }
}

@each $property in 'start', 'center', 'end', 'space-between', 'space-around' {
  .u-justifyContent-#{camelize($property)} {
    justify-content: #{$property};
  }

  @each $breakpoint in $breakpoints {
    $breakpoint: nth($breakpoint, 1);
    @if $breakpoint != xs {
      @include media-breakpoint($breakpoint) {
        .u-#{$breakpoint}-justifyContent-#{camelize($property)} {
          justify-content: #{$property};
        }
      }
    }
  }
}

@each $property in 'start', 'center', 'end', 'stretch' {
  .u-alignItems-#{$property} {
    align-items: #{$property};
  }

  .u-alignSelf-#{$property} {
    align-self: #{$property};
  }

  @each $breakpoint in $breakpoints {
    $breakpoint: nth($breakpoint, 1);
    @if $breakpoint != xs {
      @include media-breakpoint($breakpoint) {
        .u-#{$breakpoint}-alignItems-#{$property} {
          align-items: #{$property};
        }

        .u-#{$breakpoint}-alignSelf-#{$property} {
          align-self: #{$property};
        }
      }
    }
  }
}

/*
-------------------------------------------------------
5. Floating
-------------------------------------------------------
*/

@each $float in 'left', 'right', 'none' {
  .u-f#{$float} {
    float: #{$float};
  }
}

.u-clear {
  clear: both;
}

/*
-------------------------------------------------------
6. Hide/Show Elements
-------------------------------------------------------
*/

.u-hide {
  @include hideElement;
}

@each $breakpoint in $breakpoints {
  $breakpoint: nth($breakpoint, 1);

  @include media-breakpoint($breakpoint) {
    .u-#{$breakpoint}-hide {
      @include hideElement;
    }

    .u-#{$breakpoint}-show {
      @include showElement;
    }
  }
}

/*
-------------------------------------------------------
7. Misc
-------------------------------------------------------
*/

.u-tag,
.u-vcenter {
  @include vcenter;
}

.u-tag {
  padding: 0.4em 0.6em;
  border-radius: $formElements-borderRadius;
}

.u-hideOverflow {
  overflow: hidden;
}

.u-smoothTransition {
  transition: all 0.3s;
}

.u-noUnderline:hover {
  text-decoration: none;
}

/*
-------------------------------------------------------
8. Padding/Margin
-------------------------------------------------------
*/

@each $property in 'padding', 'margin' {
  @include spacing('u-#{$property}-', $property);
  @include spacing('u-#{$property}-y-', ('#{$property}-top', '#{$property}-bottom'));
  @include spacing('u-#{$property}-x-', ('#{$property}-left', '#{$property}-right'));

  .u-#{$property}-auto {
    #{$property}: auto;
  }

  .u-#{$property}-y-auto {
    #{$property}-top: auto;
    #{$property}-bottom: auto;
  }

  .u-#{$property}-x-auto {
    #{$property}-left: auto;
    #{$property}-right: auto;
  }

  @each $position in 'top', 'left', 'right', 'bottom' {
    @include spacing('u-#{camelize(#{$property}-#{$position})}-', #{$property}-#{$position});

    .u-#{camelize(#{$property}-#{$position})}-auto {
      #{$property}-#{$position}: auto;
    }
  }

  @each $breakpoint in $breakpoints {
    $breakpoint: nth($breakpoint, 1);
    @if $breakpoint != xs {
      @include media-breakpoint($breakpoint) {
        @include spacing('u-#{$breakpoint}-#{$property}-', $property);
        @include spacing('u-#{$breakpoint}-#{$property}-y-', ('#{$property}-top', '#{$property}-bottom'));
        @include spacing('u-#{$breakpoint}-#{$property}-x-', ('#{$property}-left', '#{$property}-right'));

        .u-#{$breakpoint}-#{$property}-auto {
          #{$property}: auto;
        }

        .u-#{$breakpoint}-#{$property}-y-auto {
          #{$property}-top: auto;
          #{$property}-bottom: auto;
        }

        .u-#{$breakpoint}-#{$property}-x-auto {
          #{$property}-left: auto;
          #{$property}-right: auto;
        }

        @each $position in 'top', 'left', 'right', 'bottom' {
          @include spacing('u-#{$breakpoint}-#{camelize(#{$property}-#{$position})}-', #{$property}-#{$position});

          .u-#{camelize(#{$property}-#{$position})}-auto {
            #{$property}-#{$position}: auto;
          }
        }
      }
    }
  }
}

/*
-------------------------------------------------------
9. Position
-------------------------------------------------------
*/

@each $position in 'relative', 'absolute', 'fixed' {
  .u-position-#{$position} {
    position: #{$position};

    @each $breakpoint in $breakpoints {
      $breakpoint: nth($breakpoint, 1);
      @if $breakpoint != xs {
        @include media-breakpoint($breakpoint) {
          .u-#{$breakpoint}-position-#{$position} {
            display: #{$position};
          }
        }
      }
    }
  }
}

/*
-------------------------------------------------------
10. Sizing
-------------------------------------------------------
*/

.u-autoSize,
.u-autoWidth {
  width: auto;
}

.u-autoSize,
.u-autoHeight {
  height: auto;
}

.u-fullSize,
.u-fullWidth {
  width: 100%;
}

.u-fullSize,
.u-fullHeight {
  height: 100%;
}

/*
-------------------------------------------------------
11. Text Utilities
-------------------------------------------------------
*/

@each $class, $color in $colors {
  .u-color-#{$class} {
    color: $color;
  }
}

@each $class, $size in $fontSizes {
  .u-fontSize-#{$class} {
    font-size: $size;
  }

  @each $breakpoint in $breakpoints {
    $breakpoint: nth($breakpoint, 1);
    @if $breakpoint != xs {
      @include media-breakpoint($breakpoint) {
        .u-#{$breakpoint}-fontSize-#{$class} {
          font-size: $size;
        }
      }
    }
  }
}

@each $align in 'center', 'left', 'right' {
  .u-text-#{$align} {
    text-align: #{$align};
  }

  @each $breakpoint in $breakpoints {
    $breakpoint: nth($breakpoint, 1);
    @if $breakpoint != xs {
      @include media-breakpoint($breakpoint) {
        .u-#{$breakpoint}-text-#{$align} {
          text-align: #{$align};
        }
      }
    }
  }
}

.u-textUppercase {
  text-transform: uppercase;
}

.u-textBlock {
  line-height: 1.6;
}

/*
-------------------------------------------------------
12. Z-Index
-------------------------------------------------------
*/

@for $i from 1 through 6 {
  .u-zIndex-#{$i} {
    z-index: $i;
  }
}

/*
-------------------------------------------------------
13. Animations
-------------------------------------------------------
*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
