/*
=======================================================
Helpers
=======================================================
1. Container
2. Display
3. Floating
4. Hide/Show
5. Misc
6. Padding
7. Position
8. Sizing
9. Spacers
10. Z-Index
=======================================================
*/

/*
-------------------------------------------------------
1. Container
-------------------------------------------------------
*/

.container {
  @include container(1280px);
}

/*
-------------------------------------------------------
2. Display
-------------------------------------------------------
*/

.block {
  display: block;
}

.inline {
  display: inline;
}

.label,
.vcenter,
.inline-block {
  display: inline-block;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

/*
-------------------------------------------------------
3. Floating
-------------------------------------------------------
*/

.fleft {
  float: left;
}

.fright {
  float: right;
}

.fnone,
.vcenter {
  float: none;
}

.clear {
  clear: both;
}

/*
-------------------------------------------------------
4. Hide/Show
-------------------------------------------------------
*/

.hide,
.show-md,
.show-sm,
.show-xs {
  @include hideElement;
}

@each $class, $viewport in $viewports {
  @include viewport($viewport) {
    .show-#{$class} {
      @include showElement;
    }

    .hide-#{$class} {
      @include hideElement;
    }
  }
}

/*
-------------------------------------------------------
5. Misc
-------------------------------------------------------
*/

.hide-overflow {
  overflow: hidden;
}

.label,
.vcenter {
  vertical-align: middle;
}

.smooth-transition {
  transition: all 0.3s;
}

.label {
  padding: 0.4em 0.6em;
  border-radius: 0.2em;
}

/*
-------------------------------------------------------
6. Padding
-------------------------------------------------------
*/

@include spacing(pad, padding);
@include spacing(pad-top, padding-top);
@include spacing(pad-bottom, padding-bottom);

/*
-------------------------------------------------------
7. Position
-------------------------------------------------------
*/

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

/*
-------------------------------------------------------
8. Sizing
-------------------------------------------------------
*/

.auto-size,
.auto-width {
  width: auto;
}

.auto-size,
.auto-height {
  height: auto;
}

.full-size,
.full-width {
  width: 100%;
}

.full-size,
.full-height {
  height: 100%;
}

/*
-------------------------------------------------------
9. Spacers
-------------------------------------------------------
*/

@include spacing(spacer, margin, true);
@include spacing(spacer-top, margin-top);
@include spacing(spacer-bottom, margin-bottom);

/*
-------------------------------------------------------
10. Z-Index
-------------------------------------------------------
*/

@include stackOrder(z-index, 1, 6);
