/*
=======================================================
Mixins
=======================================================
1. Container
2. Grid
3. Spacing
4. Viewports
5. Utilities
6. Z-Index
=======================================================
*/

/*
-------------------------------------------------------
1. Container
-------------------------------------------------------
*/

@mixin container($size) {
  max-width: #{$size};
  margin: 0 auto;
}

/*
-------------------------------------------------------
2. Grid
-------------------------------------------------------
*/

@mixin grid($name, $cols: 12) {
  @for $i from 1 through $cols {
    .#{$name}-#{$i} {
      width: $i/$cols*100%;
    }
  }
}

/*
-------------------------------------------------------
3. Spacing
-------------------------------------------------------
*/

@mixin spacing($name, $property, $zero: false) {
  $i: 5;

  @while $i < 35 {
    $result: $i/10;
    $result: #{$result}em;
    $class: #{$name}-#{$i};

    @if $zero == true {
      $result: #{$result} 0;
    }

    @if $i < 10 {
      $class: #{$name}-0#{$i};
    }

    .#{$class} {
      #{$property}: #{$result};
    }

    $i: $i + 5;
  }
}

/*
-------------------------------------------------------
4. viewports
-------------------------------------------------------
*/

@mixin viewport($size, $property: max) {
  @if $property == min {
    $size: $size+1;
  }

  @media (#{$property}-width: $size) {
    @content;
  }
}

/*
-------------------------------------------------------
5. Utilities
-------------------------------------------------------
*/

@mixin vcenter {
  display: inline-block;
  vertical-align: middle;
}

@mixin hideElement {
  top: -9999px;
  left: -9999px;
  position: absolute;
  visibility: hidden;
}

@mixin showElement {
  top: 0;
  left: 0;
  position: static;
  visibility: visible;
}

/*
-------------------------------------------------------
6. Z-Index
-------------------------------------------------------
*/

@mixin stackOrder($name, $min, $max) {
  @for $i from $min through $max {
    .#{$name}-#{$i} {
      z-index: #{$i};
    }
  }
}
