/*
=======================================================
CSS Utilities
=======================================================
1. Form/Buttons Pattern
2. Custom Selectors
=======================================================
*/

/*
-------------------------------------------------------
1. Form/Buttons Pattern
-------------------------------------------------------
*/

$fe-height: 2.75em;
$fe-lineHeight: 2.5;
$fe-borderRadius: 0.3rem;

/*
-------------------------------------------------------
2. Custom Selectors
-------------------------------------------------------
*/
