/*
=======================================================
Theme
=======================================================
1. Viewports
2. Colors
3. Font Sizes
4. Form Elements
=======================================================
*/

/*
-------------------------------------------------------
1. Viewports
-------------------------------------------------------
*/

$breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 992px
);

/*
-------------------------------------------------------
2. Colors
-------------------------------------------------------
*/

$colors: (
  light:     #fff,
  dark:      #222,
  lightgrey: #eee,
  grey:      #cecece,
  darkgrey:  #909090,
  main:      #343a40,
  alt:       #007bff
);

/*
-------------------------------------------------------
3. Font Sizes
-------------------------------------------------------
*/

$fontSize-default:  1em;
$fontSize-interval: 0.3;
$fontSize-headings: $fontSize-default + 1.5;
$fontSize-small:    $fontSize-default - 0.2;
$fontSize-large:    $fontSize-default + $fontSize-interval;

/*
-------------------------------------------------------
4. Form Elements
-------------------------------------------------------
*/

$formElements:    'input, button, select, textarea';
$fe-borderRadius: 0.3rem;
