/*
=======================================================
Variables
=======================================================
1. Set Assets Base Path
2. Viewports
3. Colors
4. Font Sizes
5. Form Elements
=======================================================
*/

/*
-------------------------------------------------------
1. Set Assets Base Path
-------------------------------------------------------
*/

$assets-base-path: '../../dist';

/*
-------------------------------------------------------
2. Viewports
-------------------------------------------------------
*/

$breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 992px
);

/*
-------------------------------------------------------
3. Colors
-------------------------------------------------------
*/

$colors: (
  light:     #fff,
  dark:      #222,
  lightgrey: #eee,
  grey:      #cecece,
  darkgrey:  #909090,
  main:      #343a40,
  alt:       #007bff
);

/*
-------------------------------------------------------
4. Font Sizes
-------------------------------------------------------
*/

$fontSize-default:  1em;
$fontSize-interval: 0.3;
$fontSize-headings: $fontSize-default + 1.5;
$fontSize-small:    $fontSize-default - 0.2;
$fontSize-large:    $fontSize-default + $fontSize-interval;

/*
-------------------------------------------------------
5. Form Elements
-------------------------------------------------------
*/

$formElements:    'input, button, select, textarea';
$fe-borderRadius: 0.3rem;
