/*
=======================================================
Variables
=======================================================
1. Grid Options
2. Set Assets Path
3. Viewports
4. Colors
5. Font Sizes
6. Form Elements
=======================================================
*/

/*
-------------------------------------------------------
1. Grid Options
-------------------------------------------------------
*/

$grid-cols: 12;
$grid-gutter: 0.7em;

/*
-------------------------------------------------------
2. Set Assets Path
-------------------------------------------------------
*/

$assetsPath: '../../dist';

/*
-------------------------------------------------------
3. Viewports
-------------------------------------------------------
*/

$breakpoints: (
  xs: 480px,
  sm: 600px,
  md: 840px,
  lg: 960px,
  xl: 1280px
);

/*
-------------------------------------------------------
4. Colors
-------------------------------------------------------
*/

$colors: (
  light:     #fff,
  dark:      #222,
  lightgrey: #eee,
  grey:      #cecece,
  darkgrey:  #909090,
  main:      #343a40,
  alt:       #007bff
);

/*
-------------------------------------------------------
5. Font Sizes
-------------------------------------------------------
*/

$fontSize-default:  1em;
$fontSize-ratio:    0.25;
$fontSize-small:    $fontSize-default - $fontSize-ratio;
$fontSize-large:    $fontSize-default + $fontSize-ratio;
$fontSize-headings: $fontSize-large;

/*
-------------------------------------------------------
6. Form Elements
-------------------------------------------------------
*/

$formElements: 'input, button, select, textarea';
$formElements-borderRadius: 0.3rem;
