/*
=======================================================
Viewports
=======================================================
1. Breakpoints
2. $viewports list
=======================================================
*/

/*
-------------------------------------------------------
1. Breakpoints
-------------------------------------------------------
*/

$xsmall: 480px;
$small:  600px;
$medium: 840px;
$large:  960px;
$xlarge: 1280px;

/*
-------------------------------------------------------
2. $viewports list
-------------------------------------------------------
*/

$viewports: (
  ('xs', $xsmall),
  ('sm', $small),
  ('md', $medium),
  ('lg', $large),
  ('xl', $xlarge),
);
