/*
=======================================================
Viewports
=======================================================
*/

$viewport-xs:     (max-width: 480px);
$viewport-xs--up: (min-width: 481px);
$viewport-sm:     (max-width: 768px);
$viewport-sm--up: (min-width: 769px);
$viewport-md:     (max-width: 992px);
$viewport-md--up: (min-width: 993px);
