/*
=======================================================
Buttons
=======================================================
1. Default Styles
=======================================================
*/

/*
-------------------------------------------------------
1. Default Styles
-------------------------------------------------------
*/

.btn {
  @include vcenter;
  color: color(dark);
  padding: 0.5em 1em;
  text-align: center;
  line-height: 1.5em;
  background-color: color(grey);
  border: solid 2px color(grey);
  border-radius: $formElements-borderRadius;
  transition: background 0.3s, border 0.3s, color 0.3s;

  &:focus,
  &:hover {
    background-color: color(darkgrey);
    border-color: color(darkgrey);
    text-decoration: none;
    outline: none;
  }

  &-outline:not(:hover):not(:focus) {
    color: inherit;
    background-color: transparent;
  }

  &:disabled,
  &-is-disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &:disabled {
    background-color: color(grey);
  }
}
