/*
=======================================================
Buttons
=======================================================
1. Default Styles
2. Button Variations
=======================================================
*/

/*
-------------------------------------------------------
1. Default Styles
-------------------------------------------------------
*/

.btn {
  @include vcenter;
  color: color(dark);
  padding: 0.5em 1em;
  text-align: center;
  line-height: 1.5em;
  background-color: color(grey);
  border: solid 2px color(grey);
  border-radius: $formElements-borderRadius;
  transition: background 0.3s, border 0.3s, color 0.3s;

  &:focus,
  &:hover {
    background-color: color(darkgrey);
    border-color: color(darkgrey);
    text-decoration: none;
    outline: none;
  }

  span {
    @include vcenter;
  }

  &-icon {
    @include vcenter;
    fill: color(dark);
    height: 1em;
    width: 1em;

    span + &,
    & + span {
      margin-left: 0.7em;
    }
  }

  &-outline:not(:hover):not(:focus) {
    color: inherit;
    background-color: transparent;

    .btn-icon {
      fill: color(dark);
    }
  }

  &:disabled,
  &-is-disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &:disabled {
    background-color: color(grey);
  }
}

/*
-------------------------------------------------------
2. Button Variations
-------------------------------------------------------
*/

@each $variation, $colors in $btnVariations {
  $text: nth($colors, 1);
  $background: nth($colors, 2);

  .btn-#{$variation} {
    color: $text;
    background-color: $background;
    border-color: $background;

    .btn-icon {
      fill: $text;
    }

    &:focus,
    &:hover {
      background-color: darken($background, 15%);
      border-color: darken($background, 15%);
    }

    &:disabled {
      color: $text;
      background-color: $background;
    }
  }
}
