@use "../config/config";
@use "../utils/functions";
@use "../utils/mixins";

/*
=======================================================
Form Elements
=======================================================
Base Styles
Custom Checkbox/Radio
Custom Select
Disabled Elements
=======================================================
*/

/*
-------------------------------------------------------
Base Styles
-------------------------------------------------------
*/

.input,
.select,
.input-icon {
  appearance: none;
  background-color: functions.color(light);
  border: solid 1px functions.color(grayDefault);
  border-radius: config.$formElements-borderRadius;
  padding: 0.65em;
  transition: border 0.3s, box-shadow 0.3s;
}

.input:not(textarea),
.select:not([multiple]) {
  height: 2.75em;
}

.input:focus,
.select:focus,
:focus + .input-icon {
  border-color: functions.color(grayDark);
  box-shadow: 0 0 1px functions.color(grayDark);
  outline: none;
}

@each $prefix in ':-ms', '::-webkit' {
  #{$prefix}-input-placeholder {
    color: functions.color(grayDark);
  }
}

/*
-------------------------------------------------------
Custom Checkbox/Radio
-------------------------------------------------------
*/

.inputRadio,
.inputCheckbox {
  input {
    margin: -1px;
    overflow: hidden;
    @include mixins.size(1px);
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }

  &.is-disabled {
    cursor: default;
  }
}

.input-icon {
  margin-top: -0.1em;
  @include mixins.size(1.5em);
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;

  .inputRadio & {
    border-radius: 50%;
  }

  .inputCheckbox :checked + & {
    background-image: functions.svg('icon-check.svg');
    background-size: 60%;
  }

  .inputRadio :checked + & {
    z-index: -1;
    position: relative;

    &::after {
      content: '';
      border-radius: 50%;
      border: 0.45em solid functions.color(light);
      background-color: functions.color(dark);
      @include mixins.absolute(0, 0, 0, 0);
    }
  }
}

/*
-------------------------------------------------------
Custom Select
-------------------------------------------------------
*/

.select:not([multiple]) {
  background-image: functions.svg('icon-arrow-down.svg');
  background-position: right 0.6em center;
  background-repeat: no-repeat;
  background-size: 1.5em;
  padding-right: 2.4em;
}

/*
-------------------------------------------------------
Disabled Elements
-------------------------------------------------------
*/

:disabled:not(.btn),
.input[readonly] {
  color: functions.color(grayDark);
  background-color: functions.color(grayLight);
}

:disabled {
  pointer-events: none;

  + .input-icon {
    background-color: functions.color(grayLight);

    + span {
      color: functions.color(grayDark);
    }
  }
}
