/*
=======================================================
Hero Image
=======================================================
Default Style
=======================================================
*/

/*
-------------------------------------------------------
Default Style
-------------------------------------------------------
*/

.heroImage {
  &-content {
    height: 25rem;
  }

  &-background {
    z-index: -1;
    object-fit: cover;
    @include absolute(0, 0, 0, 0);
  }
}
