/*
=======================================================
Config
=======================================================
Grid Options
Viewports
Colors
Font Sizes
Form Elements
=======================================================
*/

/*
-------------------------------------------------------
Grid Options
-------------------------------------------------------
*/

$grid-cols: 12;
$grid-gutter: 2em;

/*
-------------------------------------------------------
Viewports
-------------------------------------------------------
*/

$breakpoints: (
  xs: 480px,
  sm: 600px,
  md: 840px,
  lg: 960px,
  xl: 1280px
);

/*
-------------------------------------------------------
Colors
-------------------------------------------------------
*/

@use 'sass:color';

$colorBase-main: #24292e;
$colorBase-gray: #cecece;
$colorVariation-ratio: 10%;

$colors: (
  light:      #fff,
  dark:       #222,
  grayDefault: $colorBase-gray,
  grayDark:   color.scale($colorBase-gray, $blackness: -$colorVariation-ratio),
  grayLight:  color.scale($colorBase-gray, $lightness: $colorVariation-ratio),
  main:       $colorBase-main,
  mainDark:   color.scale($colorBase-main, $blackness: -$colorVariation-ratio),
  mainLight:  color.scale($colorBase-main, $lightness: $colorVariation-ratio)
);

/*
-------------------------------------------------------
Font Sizes
-------------------------------------------------------
*/

$fontSize-default: 1em;
$fontSize-ratio: 0.25;

$fontSizes: (
  default: $fontSize-default,
  small: $fontSize-default - $fontSize-ratio,
  h6: $fontSize-default + $fontSize-ratio * 1,
  h5: $fontSize-default + $fontSize-ratio * 2,
  h4: $fontSize-default + $fontSize-ratio * 3,
  h3: $fontSize-default + $fontSize-ratio * 4,
  h2: $fontSize-default + $fontSize-ratio * 5,
  h1: $fontSize-default + $fontSize-ratio * 6
);

/*
-------------------------------------------------------
Form Elements
-------------------------------------------------------
*/

$formElements: 'input, button, select, textarea';
$formElements-borderRadius: 0.3rem;
