/*
=======================================================
Grid
=======================================================
Row
Columns
=======================================================
*/

/*
-------------------------------------------------------
Row
-------------------------------------------------------
*/

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$grid-gutter;
  margin-right: -$grid-gutter;

  & > [class*='col'] {
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
  }
}

/*
-------------------------------------------------------
Columns
-------------------------------------------------------
*/

.col {
  flex: 1 1 0;
}

@include grid('col');

@each $breakpoint in $breakpoints {
  $breakpoint: nth($breakpoint, 1);
  @if $breakpoint != xs {
    @include media-breakpoint($breakpoint) {
      @include grid('col-' + $breakpoint);
    }
  }
}
