/*
=======================================================
Typography
=======================================================
Font-Face
Defaults
=======================================================
*/

/*
-------------------------------------------------------
Font-Face
-------------------------------------------------------
*/

/*
-------------------------------------------------------
Defaults
-------------------------------------------------------
*/

body {
  color: color(dark);
  font-family: sans-serif;
  font-weight: normal;

  @include media-breakpoint(md, max) {
    font-size: 90%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}
