/*
=======================================================
Grid
=======================================================
1. Row
2. Columns
3. Columns Alignment
=======================================================
*/

/*
-------------------------------------------------------
1. Row
-------------------------------------------------------
*/

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  &:not(.no-gutter),
  &:not(.no-gutter) > * {
    padding: 0.7em;
  }

  & & {
    margin: -0.7em;
    padding: 0;
  }

  &-centered {
    justify-content: center;
  }

  &-inverted {
    justify-content: flex-end;
  }
}

/*
-------------------------------------------------------
2. Columns
-------------------------------------------------------
*/

@include grid(col);

@each $breakpoint in $breakpoints {
  @include media-breakpoint(nth($breakpoint, 1)) {
    @include grid(nth($breakpoint, 1));
  }
}

/*
-------------------------------------------------------
3. Columns Alignment
-------------------------------------------------------
*/

.col {
  &-vcenter {
    align-self: center;
  }

  &-vbottom {
    align-self: flex-end;
  }

  &-stretch {
    align-self: stretch;
  }

  &-mx-auto {
    margin: 0 auto;
  }

  &-ml-auto {
    margin-left: auto;
  }

  &-mr-auto {
    margin-right: auto;
  }
}
