/*
=======================================================
Grid
=======================================================
1. Row
2. Columns Vertical Align
3. Columns Sizing
=======================================================
*/

/*
-------------------------------------------------------
1. Row
-------------------------------------------------------
*/

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.row:not(.no-gutter),
.row:not(.no-gutter) > * {
  padding: 0.7em;
}

.row-centered {
  justify-content: center;
}

.row-inverted {
  justify-content: flex-end;
}

/*
-------------------------------------------------------
2. Columns Vertical Align
-------------------------------------------------------
*/

.col-vcenter {
  align-self: center;
}

.col-vbottom {
  align-self: flex-end;
}

.col-stretch {
  align-self: stretch;
}

.col-mx-auto {
  margin: 0 auto;
}

.col-ml-auto {
  margin-left: auto;
}

.col-mr-auto {
  margin-right: auto;
}

/*
-------------------------------------------------------
3. Columns Sizing
-------------------------------------------------------
*/

@include grid(col);

@each $class, $viewport in $viewports {
  @media #{$viewport} {
    @include grid(#{$class});
  }
}
