/*
=======================================================
Theme
=======================================================
1. Colors
2. Form/Buttons Pattern
=======================================================
*/

/*
-------------------------------------------------------
1. Colors
-------------------------------------------------------
*/

$mainColor:  #343a40;
$lightColor: #fff;
$darkColor:  #222;
$btnMain:    #007bff;

/*
-------------------------------------------------------
2. Form/Buttons Pattern
-------------------------------------------------------
*/

$base-height: 2.75;
$fe-height: #{$base-height}em;
$fe-lineHeight: $base-height - 0.25;
$fe-borderRadius: 0.3rem;
