/*
=======================================================
Theme
=======================================================
1. Colors
2. Form Elements
=======================================================
*/

/*
-------------------------------------------------------
1. Colors
-------------------------------------------------------
*/

$colorLight: #fff;
$colorDark:  #222;
$colorMain:  #343a40;
$colorAlt:   #007bff;

/*
-------------------------------------------------------
2. Form Elements
-------------------------------------------------------
*/

$base-height: 2.75;
$fe-height: #{$base-height}em;
$fe-lineHeight: $base-height - 0.25;
$fe-borderRadius: 0.3rem;
