/*
=======================================================
Typography
=======================================================
1. Font-Face
2. Defaults
=======================================================
*/

/*
-------------------------------------------------------
1. Font-Face
-------------------------------------------------------
*/

/*
-------------------------------------------------------
2. Defaults
-------------------------------------------------------
*/

body {
  color: color(dark);
  font-family: sans-serif;
  font-weight: normal;

  @include media-breakpoint(sm) {
    font-size: 85%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}
