/*
=======================================================
Colors
=======================================================
*/

$mainColor:  #343a40;
$lightColor: #fff;
$darkColor:  #222;
$btnMain:    #007bff;
