/*
=======================================================
BUTTONS
=======================================================
1. Config
2. Base Styles
3. Outline Buttons
=======================================================
*/

/*
-------------------------------------------------------
1. Config
-------------------------------------------------------
*/

:root {
  --btnMain: #007bff;
}

/*
-------------------------------------------------------
2. Base Styles
-------------------------------------------------------
*/

.btn {
  width: auto;
  padding: 0 1em;
  @mixin vcenter;
  white-space: normal;
  height: var(--fe-height);
  background-color: var(--btnMain);
  border: solid 2px var(--btnMain);
  line-height: var(--fe-lineHeight);
  border-radius: var(--fe-borderRadius);
  transition: background 0.3s, border 0.3s, color 0.3s;
}

.btn:hover,
.btn:focus,
.btn:not(.btn-outline) {
  color: #fff;
}

.btn:focus,
.btn:hover {
  background-color: color(var(--btnMain) blackness(20%));
  border-color: color(var(--btnMain) blackness(20%));
}

/*
-------------------------------------------------------
3. Outline Buttons
-------------------------------------------------------
*/

.btn-outline:not(:hover, :focus) {
  background-color: transparent;
}
