/*
=======================================================
BUTTONS
=======================================================
1. Config
2. Base Styles
3. Outline Buttons
=======================================================
*/

/*
-------------------------------------------------------
1. Config
-------------------------------------------------------
*/

$btnMain: #007bff;

/*
-------------------------------------------------------
2. Base Styles
-------------------------------------------------------
*/

.btn {
  @mixin vcenter;
  width: auto;
  padding: 0 1em;
  white-space: normal;
  height: $fe-height;
  background-color: $btnMain;
  border: solid 2px $btnMain;
  line-height: $fe-lineHeight;
  border-radius: $fe-borderRadius;
  transition: background 0.3s, border 0.3s, color 0.3s;
}

.btn:hover,
.btn:focus,
.btn:not(.btn-outline) {
  color: #fff;
}

.btn:focus,
.btn:hover {
  background-color: color($btnMain blackness(20%));
  border-color: color($btnMain blackness(20%));
}

/*
-------------------------------------------------------
3. Outline Buttons
-------------------------------------------------------
*/

.btn-outline:not(:hover, :focus) {
  background-color: transparent;
}
