/*
=======================================================
CSS CONFIG
=======================================================
1. Utilities
2. Custom Selectors
3. Mixins
4. Media Queries
=======================================================
*/

/*
-------------------------------------------------------
1. Utilities
-------------------------------------------------------
*/

:root {
  /* colors */
  --mainColor: #343a40;
  --lightColor: #fff;
  --darkColor: #222;

  /* form elements/buttons */
  --fe-height: 2.75em;
  --fe-lineHeight: 2.5;
  --fe-borderRadius: 0.3rem;
}

/*
-------------------------------------------------------
2. Custom Selectors
-------------------------------------------------------
*/

@custom-selector :--headings h1, h2, h3, h4, h5, h6;
@custom-selector :--form-elements .btn, input, select, textarea;

/*
-------------------------------------------------------
3. Mixins
-------------------------------------------------------
*/

@define-mixin wrapper $size {
  max-width: $(size);
  margin: 0 auto;
}

@define-mixin vcenter {
  display: inline-block;
  vertical-align: middle;
}

@define-mixin hideElement {
  top: -9999px;
  left: -9999px;
  position: absolute;
  visibility: hidden;
}

@define-mixin showElement {
  top: 0;
  left: 0;
  position: static;
  visibility: visible;
}

@define-mixin spacing $name, $property, $zero {
  @for $i from 5 to 30 by 5 {
    $result: calc($i / 10);
    $result: $(result)em $(zero);

    @if $i > 4 {
      .$(name)-0$i {
        $(property): $result;
      }
    }

    @else {
      .$(name)-$i {
        $(property): $result;
      }
    }
  }
}

@define-mixin grid $name {
  @for $i from 1 to 12 {
    .$(name)-$i {
      width: calc($i/12 * 100%);
    }
  }
}

@define-mixin stackOrder $name, $min, $max {
  @for $i from $min to $max {
    .$(name)-$i {
      z-index: $i;
    }
  }
}

/*
-------------------------------------------------------
4. Media Queries
-------------------------------------------------------
*/

@custom-media --max-xs only screen and (max-width: 480px);
@custom-media --min-xs only screen and (min-width: 481px);
@custom-media --max-sm only screen and (max-width: 768px);
@custom-media --min-sm only screen and (min-width: 769px);
@custom-media --max-md only screen and (max-width: 992px);
@custom-media --min-md only screen and (min-width: 993px);
