/*
=======================================================
Form Elements
=======================================================
1. Base Styles
2. Custom Select Arrow
3. Custom Checkbox/Radio
=======================================================
*/

/*
-------------------------------------------------------
1. Base Styles
-------------------------------------------------------
*/

select,
textarea,
input:not(.btn),
.label-radio::before,
.label-checkbox::before {
  background-color: #fff;
  border: solid 1px #cecece;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: border 0.3s, box-shadow 0.3s;
  transition: border 0.3s, box-shadow 0.3s;
}

input,
select,
textarea {
  width: 100%;
}

select,
input:not(.btn) {
  height: 2.75em;
  padding: 0 0.6em;
}

textarea {
  padding: 0.6em;
  overflow-y: auto;
  resize: none;
}

select:focus,
textarea:focus,
input:not(.btn):focus,
:focus + .label-radio::before,
:focus + .label-checkbox::before {
  border-color: #909090;
  box-shadow: 0 0 1px #909090;
}

::-webkit-input-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/*
-------------------------------------------------------
2. Custom Select Arrow
-------------------------------------------------------
*/

select::-ms-expand {
  display: none;
}

select {
  background-image: url('../../dist/svg/icon-arrow-alt.svg');
  background-position: right 0.5em center;
  background-repeat: no-repeat;
  background-size: 0.8em;
  padding-right: 2em;
}

/*
-------------------------------------------------------
3. Custom Checkbox/Radio
-------------------------------------------------------
*/

input[type=radio],
input[type=checkbox] {
  height: 0;
  width: 0;
  border: 0;
  padding: 0;
  opacity: 0;
}

.label-radio::before,
.label-checkbox::before {
  content: '';
  margin-right: 0.5em;
  padding: 0.65em;
}

.label-radio::before {
  border-radius: 50%;
}

:checked + .label-checkbox::before {
  background: url('../../dist/svg/icon-check.svg') no-repeat center;
  background-size: 60%;
}

:checked + .label-radio::before {
  background: url('../../dist/svg/icon-circle.svg') no-repeat top;
  background-size: 34% 100%;
}
