/*
=======================================================
GRID
=======================================================
1. Grid Wrapper
2. Row
3. Columns Vertical Align
4. Columns Sizing
=======================================================
*/

/*
-------------------------------------------------------
1. Grid Wrapper
-------------------------------------------------------
*/

.wrapper {
  @mixin wrapper 1240px;
}

/*
-------------------------------------------------------
2. Row
-------------------------------------------------------
*/

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.row:not(.no-gutter),
.row:not(.no-gutter) > * {
  padding: 0.7em;
}

.row-centered {
  justify-content: center;
}

/*
-------------------------------------------------------
3. Columns Vertical Align
-------------------------------------------------------
*/

.col-vcenter {
  align-self: center;
}

.col-vbottom {
  align-self: flex-end;
}

.col-stretch {
  align-self: stretch;
}

/*
-------------------------------------------------------
4. Columns Sizing
-------------------------------------------------------
*/

@mixin grid col;

@media (--max-md) {
  @mixin grid md;
}

@media (--max-sm) {
  @mixin grid sm;
}

@media (--max-xs) {
  @mixin grid xs;
}
