/*
=======================================================
LAYOUT
=======================================================
1. Background Colors
2. Demo Layout
=======================================================
*/

/*
-------------------------------------------------------
1. Background Colors
-------------------------------------------------------
*/

.bg-main {
  background-color: #343a40;
}

.bg-white {
  background-color: #fff;
}

.bg-lightgrey {
  background-color: #e3e3e3;
}

hr,
.bg-grey {
  background-color: #afafaf;
}

.bg-dark {
  background-color: #222;
}

.bg-darker {
  background-color: #121212;
}

.bg-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-none {
  background-color: transparent;
}

/*
-------------------------------------------------------
2. Demo Layout
-------------------------------------------------------
*/

.bg-image .row {
  height: 65vh;
}
