/*
=======================================================
MAIN NAVIGATION
=======================================================
1. Base Styles
2. Main Navigation
3. Navigation Button
4. Mobile Navigation
=======================================================
*/

/*
-------------------------------------------------------
1. Base Styles
-------------------------------------------------------
*/

.main-nav-wrapper {
  text-align: right;
}

.main-nav .sub-menu {
  height: 0;
  overflow: hidden;
}

.main-nav a {
  display: block;
}

.menu-item-has-children > a {
  padding-right: 1.5em;
  position: relative;
}

.menu-item-has-children > a:after {
  top: 0;
  right: 0;
  bottom: 0;
  content: '';
  padding: 0.35em;
  position: absolute;
  background: url('../../dist/svg/icon-arrow.svg') no-repeat right;
}

/*
-------------------------------------------------------
2. Main Navigation
-------------------------------------------------------
*/

@media only screen and (min-width: 993px) {

  .main-nav .menu > .menu-item {
    display: inline-block;
    margin-left: 1.5em;
  }

  .main-nav .menu > .menu-item-has-children > a {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .menu-item {
    position: relative;
  }

  .main-nav .menu-item:hover > a {
    color: #afafaf;
  }

  .main-nav .menu-item:hover > .sub-menu {
    height: auto;
    overflow: visible;
  }

  .main-nav .sub-menu {
    text-align: left;
    position: absolute;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.20);
    white-space: nowrap;
  }

  .main-nav .sub-menu .menu-item:not(:last-child):after {
    content: '';
    height: 1px;
    display: block;
    margin: 0 0.65em;
    background-color: #dfdfdf;
  }

  .main-nav .sub-menu a {
    color: #222;
    font-size: 90%;
    padding: 0.7em;
  }

  .main-nav .sub-menu .sub-menu {
    top: 0;
    left: 100%;
  }

  .main-nav .menu-item .menu-item-has-children > a {
    padding-right: 2em;
  }

  .main-nav .menu-item .menu-item-has-children > a:after {
    right: 0.7em;
    transform: rotate(-90deg);
    background-image: url('../../dist/svg/icon-arrow-alt.svg');
  }

}

/*
-------------------------------------------------------
3. Navigation Button
-------------------------------------------------------
*/

.nav-btn {
  background: url('../../dist/svg/icon-menu.svg') no-repeat center;
  height: 1.5em;
  width: 1.5em;
}

.main-nav-is-active + .nav-btn {
  background-image: url('../../dist/svg/icon-close.svg');
}

@media only screen and (max-width: 992px) {

  .main-nav-is-active + .nav-btn {
    position: relative;
    z-index: 2;
  }

}

/*
-------------------------------------------------------
4. Mobile Navigation
-------------------------------------------------------
*/

@media only screen and (max-width: 992px) {

  .main-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 18em;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    text-transform: uppercase;
    background-color: #fff;
    color: #222;
    z-index: 3;
  }

  .main-nav :not(:last-child) a {
    border-bottom: 1px solid #dfdfdf;
  }

  .main-nav a {
    padding: 1.7em;
  }

  .main-nav-is-active {
    left: 0;
  }

  .menu-item-has-children a {
    padding-right: 4em;
  }

  .menu-item-has-children > a:after {
    right: 1.5em;
    padding: 0.5em;
  }

  .main-nav .menu-item-is-active > ul {
    height: auto;
    overflow: visible;
  }

  .main-nav .menu-item-is-active > a {
    background-color: #343a40;
    border-color: #495159;
    color: #fff;
  }

  .menu-item-is-active > a:after {
    transform: rotate(180deg);
  }

  .menu-item-has-children:not(.menu-item-is-active) > a:after {
    background-image: url('../../dist/svg/icon-arrow-alt.svg');
  }

  .screen-cover {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: rgb(29, 29, 29);
    background-color: rgba(29, 29, 29, 0.7);
  }

}

@media only screen and (max-width: 480px) {

  .main-nav {
    width: 75%;
  }

}
