/*
=======================================================
CSS Reset
=======================================================
*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
}

html {
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  opacity: 0.99;
}

ul,
ol {
  list-style: none;
}

a,
label,
input,
textarea,
button,
select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.btn:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: none;
}

button {
  background-color: transparent;
}

img {
  max-width: 100%;
}

hr {
  border: 0;
  height: 1px;
  background-color: #afafaf;
}
