/*
=======================================================
Buttons
=======================================================
1. Base Styles
2. Outline Buttons
=======================================================
*/

/*
-------------------------------------------------------
1. Base Styles
-------------------------------------------------------
*/

.btn {
  @include vcenter;
  color: #fff;
  width: auto;
  padding: 0 1em;
  height: $fe-height;
  white-space: normal;
  background-color: color(alt);
  border: solid 2px color(alt);
  line-height: $fe-lineHeight;
  border-radius: $fe-borderRadius;
  transition: background 0.3s, border 0.3s, color 0.3s;

  &:focus,
  &:hover {
    background-color: darken(color(alt), 10%);
    border-color: darken(color(alt), 10%);
    outline: none;
  }
}

/*
-------------------------------------------------------
2. Outline Buttons
-------------------------------------------------------
*/

.btn-outline:not(:hover):not(:focus) {
  color: inherit;
  background-color: transparent;
}
