/*
=======================================================
Buttons
=======================================================
1. Base Styles
2. Outline Buttons
=======================================================
*/

/*
-------------------------------------------------------
1. Base Styles
-------------------------------------------------------
*/

.btn {
  @include vcenter;
  width: auto;
  padding: 0 1em;
  white-space: normal;
  height: $fe-height;
  background-color: $btnMain;
  border: solid 2px $btnMain;
  line-height: $fe-lineHeight;
  border-radius: $fe-borderRadius;
  transition: background 0.3s, border 0.3s, color 0.3s;
}

.btn:hover,
.btn:focus,
.btn:not(.btn-outline) {
  color: #fff;
}

.btn:focus,
.btn:hover {
  background-color: darken($btnMain, 10%);
  border-color: darken($btnMain, 10%);
}

/*
-------------------------------------------------------
2. Outline Buttons
-------------------------------------------------------
*/

.btn-outline:not(:hover):not(:focus) {
  background-color: transparent;
}
