/*
=======================================================
Form Elements
=======================================================
1. Base Styles
2. Custom Checkbox/Radio
3. Custom Select
=======================================================
*/

/*
-------------------------------------------------------
1. Base Styles
-------------------------------------------------------
*/

select,
textarea,
input:not(.btn),
.label-radio::before,
.label-checkbox::before {
  @include vcenter;
  background-color: #fff;
  border: solid 1px #cecece;
  border-radius: $fe-borderRadius;
  transition: border 0.3s, box-shadow 0.3s;
}

input,
select,
textarea {
  width: 100%;
  font-family: inherit;
  font-size: $fontSize-glob;
}

select,
input:not(.btn) {
  padding: 0 0.6em;
  height: $fe-height;
}

textarea {
  resize: none;
  padding: 0.6em;
  overflow-y: auto;
}

select:focus,
textarea:focus,
input:not(.btn):focus,
:focus + .label-radio::before,
:focus + .label-checkbox::before {
  border-color: #909090;
  box-shadow: 0 0 1px #909090;
}

::-webkit-input-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/*
-------------------------------------------------------
2. Custom Checkbox/Radio
-------------------------------------------------------
*/

input[type=radio],
input[type=checkbox] {
  width: 0;
  height: 0;
  border: 0;
  padding: 0;
}

.label-radio::before,
.label-checkbox::before {
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  margin: -0.1em 0.5em 0 0;
  padding: 0.65em;
}

.label-radio::before {
  border-radius: 50%;
}

:checked + .label-checkbox::before {
  background-image: url('../../dist/svg/icon-check.svg');
  background-size: 60%;
}

:checked + .label-radio::before {
  background-image: url('../../dist/svg/icon-circle.svg');
  background-size: 34% 100%;
}

/*
-------------------------------------------------------
3. Custom Select
-------------------------------------------------------
*/

select::-ms-expand {
  display: none;
}

select {
  background-image: url('../../dist/svg/icon-arrow-alt.svg');
  background-position: right 0.5em center;
  background-repeat: no-repeat;
  background-size: 0.8em;
  padding-right: 2em;
}
