/*
=======================================================
Navigation
=======================================================
1. Base Styles
2. Main Navigation
3. Mobile Navigation
4. Mobile Navigation Button
=======================================================
*/

/*
-------------------------------------------------------
1. Base Styles
-------------------------------------------------------
*/

.main-nav {
  text-align: right;

  a,
  .menu-item-is-active > .sub-menu {
    display: block;
  }

  a:hover {
    text-decoration: none;
  }

  .sub-menu {
    text-align: left;
    display: none;
  }

  .menu-item-has-children > a {
    padding-right: 1.5em;
    position: relative;

    &::after {
      top: 0;
      right: 0;
      bottom: 0;
      content: '';
      padding: 0.35em;
      position: absolute;
      background: url('../../dist/svg/icon-arrow.svg') no-repeat right;
      background-size: 100% 100%;
    }
  }

  @include media-breakpoint(xs) {
    > .menu {
      width: 75%;
    }
  }
}

/*
-------------------------------------------------------
2. Main Navigation
-------------------------------------------------------
*/

@include media-breakpoint(md, min) {
  .menu-item-is-active > a {
    color: color(darkgrey);
  }

  .main-nav {
    .menu-item {
      position: relative;

      &:hover {
        color: color(darkgrey);
      }
    }

    .menu > .menu-item {
      display: inline-block;
      margin-left: 1.5em;

      > .sub-menu {
        margin-top: 0.5em;
      }
    }

    .sub-menu {
      color: color(dark);
      position: absolute;
      border-radius: 0.4em;
      white-space: nowrap;
      background-color: color(light);
      box-shadow: 0 0 2px color(darkgrey);

      a {
        font-size: 90%;
        padding: 0.7em;
      }

      .menu-item {
        &:not(:last-child)::after {
          content: '';
          display: block;
          margin: 0 0.65em;
          border-bottom: 1px solid color(grey);
        }

        &-has-children > a {
          padding-right: 2em;

          &::after {
            right: 0.7em;
            transform: rotate(-90deg);
            background-image: url('../../dist/svg/icon-arrow-alt.svg');
          }
        }
      }

      .sub-menu {
        top: 0;
        left: 100%;
      }
    }
  }
}

/*
-------------------------------------------------------
3. Mobile Navigation
-------------------------------------------------------
*/

@include media-breakpoint(md) {
  .nav-hide-overflow {
    overflow: hidden;
  }

  .main-nav {
    z-index: 1;
    position: relative;

    > .menu {
      top: 0;
      left: 0;
      bottom: 0;
      width: 18em;
      color: color(dark);
      position: fixed;
      text-align: left;
      overflow-y: auto;
      transition: 0.3s;
      overflow-x: hidden;
      visibility: hidden;
      background-color: color(light);
      text-transform: uppercase;
      transform: translateX(-100%);
    }

    .menu-item {
      a {
        padding: 1.7em;
      }

      &:not(:last-child) {
        border-bottom: 1px solid color(lightgrey);
      }
    }

    .menu-item-has-children {
      > a::after {
        right: 1.5em;
        padding: 0.5em;
      }

      &:not(.menu-item-is-active) > a::after {
        background-image: url('../../dist/svg/icon-arrow-alt.svg');
      }
    }
  }

  .main-nav-is-active > .menu {
    visibility: visible;
    transform: translateX(0%);
  }

  .menu-item-is-active {
    > a {
      background-color: color(main);
      border-color: lighten(color(main), 10%);
      color: color(light);

      &::after {
        transform: rotate(180deg);
      }
    }
  }

  .screen-cover {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: fixed;
    background-color: rgba(color(dark), 0.7);
  }
}

/*
-------------------------------------------------------
4. Mobile Navigation Button
-------------------------------------------------------
*/

@include media-breakpoint(md) {
  .nav-btn {
    width: 1.5em;
    height: 1.5em;
    background: url('../../dist/svg/icon-menu.svg') no-repeat center;

    .main-nav-is-active & {
      background-image: url('../../dist/svg/icon-close.svg');
    }
  }
}
