/*
=======================================================
Layout
=======================================================
1. Background Colors
2. Hero Image
=======================================================
*/

/*
-------------------------------------------------------
1. Background Colors
-------------------------------------------------------
*/

.bg-main {
  background-color: $mainColor;
}

.bg-light {
  background-color: $lightColor;
}

.bg-grey {
  background-color: $darkColor;
}

.bg-image,
.hero-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
-------------------------------------------------------
2. Hero Image
-------------------------------------------------------
*/

.hero-image .row {
  height: 65vh;
}
